# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# IDE & Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
